body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  border: 0;
}
nav {
  background-color: #2a2e34;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 12px 28px;
}
#inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
#inputs a {
  display: inline-block;
  display: flex;
}
#inputs a img {
  display: inline-block;
  height: 32px;
  margin-bottom: 0;
}
#inputs span {
  display: inline-block;
}
nav #app-name {
  display: inline-block;
}

#search-results-Container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

#searchName-results,
.user-card {
  flex: 0 0 20%;
  height: 100vh;
  padding: 0px 16px;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#SearchRepo-results {
  display: flex;
  flex: 0 0 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

#users-title {
  margin: 0;
  font-weight: bold;
  font-size: 1em;
  padding: 16px 8px;
  text-align: center;
}

#user-img {
  margin-top: 10px;
  display: inline-block;
  width: 140px;
  border-radius: 50%;
  height: 140px;
  margin-left: 30px;
}
p {
  font-weight: bold;
  padding: 6px;
  font-size: large;
}

.reposResults-card {
  padding: 14px;
  margin: 16px;
  background-color: #e9eaec;
  /* height: 40%; */
  border-radius: 12px;
  flex: 0 1 22%;
  justify-content: center;
}
.hideResults {
  visibility: hidden;
}

.hideRepos {
  visibility: hidden;
}
#userInput {
  position: relative;
}

#user-name-form {
  position: relative;
}

#EnterUserName {
  background-color: #2a2e34;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  border: 0;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  margin-top: 10%;
  font-size: large;
  font-weight: 300;
}

#followers-count {
  display: flex;
  font-size: large;
  font-weight: 500;
}

#user-bio {
  font-size: medium;
  font-weight: 200;
}

#repo-btn {
  margin: 32px;
  border: 1px solid #e9eaec;
  text-decoration: none;
  background-color: #2a2e34;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-weight: 400;
  font-size: medium;
}
#Repo-description {
  font-size: 1em;
  font-weight: 400;
}
